body {
  background-color: antiquewhite;
}
.sec-1 {
  display: flex;
  justify-content: center;
  justify-items: center;
}
.input {
  margin-top: 10px;
}

.text-box {
  border-radius: 2px;
  border-width: 1px;
  height: 25px;
  box-shadow: none;
}
