body {
  background-color: #000;
}
.sec-1 {
  display: flex;
  justify-content: center;
  justify-items: center;
}

.heading {
  color: antiquewhite;
  font-style: normal;
}

.input {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
}

.button {
  font-size: 14px;
  margin-top: 10px;
  font-weight: 600;
  padding: 15px 30px;
  color: #000;
  background-color: #fff;
  border-radius: 4px;
  cursor: pointer;
  border: none;
  outline: none;
  transition: 0.3s;
}

.button:hover {
  color: antiquewhite;
  background-color: green;
  transition: 0.3s ease-in-out;
}

.input input,
.button {
  width: 100%;
  box-sizing: border-box;
}

.text-box {
  border-radius: 4px;
  padding: 10px 20px;
  outline: none;
  width: 60%;
  margin-right: 10px;
  border: 1px solid #0aa014cc;
}

.text-box:hover {
  border-radius: 4px;
  outline: none;
  border: 2px solid #0aa014cc;
  transition: 0.3s ease-in-out;
}
